---
# We'll use defaults from the LLVM style, but with a few tweaks
BasedOnStyle: LLVM

# 4-space indenting
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
# Don't indent access modifiers
AccessModifierOffset: -4

# Max colum width
ColumnLimit: 120

# Force pointers to be attached to the type.
DerivePointerAlignment: false
PointerAlignment: Left

# Indent members in namespaces
NamespaceIndentation: All

SpacesInLineCommentPrefix:
  Minimum: 0

# Disable brace wrapping (OTB style)
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  # enable for multi-line control statements
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
