---
# We'll use defaults from the LLVM style, but with
#  - 4 spaces columns indentation, and
#  - 120 column limit
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120

# Misc
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent

SpacesInLineCommentPrefix:
  Minimum: 0

# Disable brace wrapping (OTB style)
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
