---
# We'll use defaults from the LLVM style, but with a few tweaks
BasedOnStyle: LLVM
# 4-space indenting
IndentWidth: 4
AccessModifierOffset: -4

ColumnLimit: 120

# indent members in namespaces
NamespaceIndentation: All

AlignAfterOpenBracket: BlockIndent

SpacesInLineCommentPrefix:
  Minimum: 0

# Disable brace wrapping (OTB style)
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
